/* Start general Styling */
::selection {
    background-color: #f65129;
    color: #ffd74f
}

* {
    @import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Sarabun", serif;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 16px;
}

/* Hero Start */
#Login_Hero {
    min-height: 40dvh;
    background-image: url(./images/login.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -10;
}

.Hero_BG {
    position: absolute;
    min-height: 40dvh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.578);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Hero_BG h1 {
    color: white;
    font-size: 25px;
    font-weight: 700;
}

/* Hero End */

/* Main section */
.main_section {
    padding: 4rem 1rem;
}

.login_div {
    width: 100%;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yellow_div {
    width: 90%;
    background-color: #ffd74f;
    border-radius: 20px;
    padding: 20px 15px;
    min-height: 350px;
    border-top: 25px solid #f65129;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 90%;
    border-radius: 20px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form h4 {
    align-self: center;
    font-size: 25px;
    font-weight: 600;
    color: #f65129;
}

input {
    border: none;

}

input:focus {
    outline: none;
}

#email,
#password {
    width: 80%;
}

.form_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid gainsboro;
}

#SignIn {
    padding: 5px 0;
    background-color: #f65129;
    text-align: center;
    color: white;
    font-size: 25px;
    border-radius: 5px;
}

@media screen and (min-width: 550px) {

    /* Hero */
    #Login_Hero {
        min-height: 55dvh;
        position: relative;
        z-index: -10;
    }

    .Hero_BG {
        position: absolute;
        min-height: 55dvh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.578);
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .Hero_BG h1 {
        color: white;
        font-size: 35px;
        font-weight: 700;
        padding-top: 5rem;
    }

    .yellow_div {
        width: 70%;

    }

    form {
        width: 70%;
        border-radius: 20px;
        padding: 25px 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .form_item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        border: 1px solid gainsboro;
    }


    /* Footer */
    footer {
        margin-top: 350px;
    }
}